VITE_APP_APPID = wxabcd1234567890ab
VITE_APP_APPSECRET = 256abcd19761e2baba5e5b24ad60fa0f

VITE_ALIPAY_APP_ID=your-alipay-app-id
VITE_ALIPAY_PRIVATE_KEY=your-alipay-private-key
VITE_ALIPAY_PUBLIC_KEY=your-alipay-public-key
VITE_ALIPAY_TOKEN=your-alipay-token
